@model IEnumerable<Task1.Entities.HotMeal>

<html>
<head>
</head>
<body>
    <h1>We have @Model.Count() Hot Meals</h1>
    @foreach (var item in @Model)
    {
        <div>
            <h1>ID:@item.Id</h1>
            <h1>Name: @item.Name</h1>
            <h1>MealSize: @item.MealSize</h1>
            <h1>IsVegetarian: @item.IsVegetarian</h1>
            <h1>Price: @item.Price</h1>
            <h1>IsSpicy: @item.IsSpicy</h1>


        </div>
    }
</body>


</html>